
@{
    ViewBag.Title = "NegativeBalance";
}

<h2>You can not make a bill pay from a negative balance</h2>
<br /><br />

@Html.ActionLink("Click here to go back", "Index", "BillPay", null, new { @class = "btn btn-primary" })
