
@{
    ViewBag.Title = "NegativeError";
}

<h2>Zero or negative value entered</h2>

<br /><br />
<p>
    We are committed to ensuring you have as little money in your account. By entering a negative or zero value you are not helping us achieve our goal. 
</p>
@Html.ActionLink("Click here to go back", "Index", "BillPay", null, new { @class = "btn btn-primary" })