
@{
    ViewBag.Title = "MaxOverdraft";
}

<h2>You have exceeded the maximum overdraft of $50</h2>
<br /><br />
<p>Please enter a valid amount. </p>

@Html.ActionLink("Click here to go back", "Index", "Transfer", null, new { @class = "btn btn-primary" })

