
@{
    ViewBag.Title = "NegativeError";
}

<h2>Zero or negative value entered</h2>

<br /><br />
<p>
    Enter a valid value.  
</p>
@Html.ActionLink("Click here to go back", "Index", "Transfer", null, new { @class = "btn btn-primary" })