
@{
    ViewBag.Title = "NegativeBalance";
}

<h2>You can not make a transfer from a negative balance</h2>
<br /><br />

@Html.ActionLink("Click here to go back", "Index", "Transfer", null, new { @class = "btn btn-primary" })
