
@{
    ViewBag.Title = "Eligible";
}

<h2>Eligible</h2>

<br />
<h3> This account is not eligible to buy stocks at this time</h3>
<br />

@Html.ActionLink("Go Back", "Index", "StockPortfolios", null, new { @class = "btn btn-primary" })