
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>
    Insufficient Funds, Please Go Back and Try Again.
</p>
@Html.ActionLink("Click here to go back", "Index", "StockPortfolios", null, new { @class = "btn btn-primary" })
